# Ignorar HTML, CSS e JS na análise do GitHub
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Ignorar pastas de build
build/* linguist-vendored
dist/* linguist-vendored